<div class="container">
<%if user2_signed_in?%>
<h1 class="text-center"> 내 리뷰 보기 </h1><br><br>
<div class="col-sm-3">
  <ul class="nav nav-pills nav-stacked">
    <li><a href="/users/mypage">마이페이지</a></li>
    <li class="active"><a href="#"> 내 리뷰 목록 </a></li>  

  </ul>
</div>
<div class="col-sm-9">
<style type="text/css">
.tbl{
table-layout: fixed;
}

.tbl .evt{
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;

}
</style>

<style>
.star1{font-size: 1.5em; color: orange;}
.star2{font-size: 1.5em; color: silver;}
</style>

<%if @mycomments.length>0%>
    <table class="table table-hover tbl">
    <thead>
    <tr><th>게시물 번호</th><th>분류</th><th>가게 명</th><th>후기</th><th>별점</th><th>작성일</th></tr>
    </thead>
    <tbody>
<%@mycomments.each do |c|%>
<style>
.deleteline {
  color: silver;
  text-decoration: line-through;
}
</style>
<%if c.place_delete=="yes"%>
      <tr class="deleteline" onClick="alert('MD Hot Place에서 제외된 가게 입니다')">
      <td><%=c.hplace_id%></td>
      <td><%=c.category%></td>
      <td><%=c.place_name%></td>
      <td class="evt"><%=c.content.gsub("\r\n", "<br>").gsub("\u0020","&nbsp;").html_safe%></td>
      <td><%if c.evalu.to_i  < 1%>
      <span class='glyphicon glyphicon-star-empty star2'></span>
      <%else%>
      <span class='glyphicon glyphicon-star star2'></span>
      <%end%>
      <%if c.evalu.to_i  < 2%>
      <span class='glyphicon glyphicon-star-empty star2'></span>
      <%else%>
      <span class='glyphicon glyphicon-star star2'></span>
      <%end%>
      <%if c.evalu.to_i  < 3%>
      <span class='glyphicon glyphicon-star-empty star2'></span>
      <%else%>
      <span class='glyphicon glyphicon-star star2'></span>
      <%end%>
      <%if c.evalu.to_i  < 4%>
      <span class='glyphicon glyphicon-star-empty star2'></span>
      <%else%>
      <span class='glyphicon glyphicon-star star2'></span>
      <%end%>
      <%if c.evalu.to_i  < 5%>
      <span class='glyphicon glyphicon-star-empty star2'></span>
      <%else%>
      <span class='glyphicon glyphicon-star star2'></span>
      <%end%>
      </td>
      <td><%=c.created_at.strftime("%Y-%m-%d, %P %l:%M")%></td></tr>
<%else%>
      <tr style="cursor:pointer" onclick="location.href='/hplaces/<%=c.hplace_id%>'">
      <td><%=c.hplace_id%></td>
      <td><%=c.category%></td>
      <td><%=c.place_name%></td>
      <td class="evt"><%=c.content.gsub("\r\n", "<br>").gsub("\u0020","&nbsp;").html_safe%></td>
      <td><%if c.evalu.to_i  < 1%>
      <span class='glyphicon glyphicon-star-empty star1'></span>
      <%else%>
      <span class='glyphicon glyphicon-star star1'></span>
      <%end%>
      <%if c.evalu.to_i  < 2%>
      <span class='glyphicon glyphicon-star-empty star1'></span>
      <%else%>
      <span class='glyphicon glyphicon-star star1'></span>
      <%end%>
      <%if c.evalu.to_i  < 3%>
      <span class='glyphicon glyphicon-star-empty star1'></span>
      <%else%>
      <span class='glyphicon glyphicon-star star1'></span>
      <%end%>
      <%if c.evalu.to_i  < 4%>
      <span class='glyphicon glyphicon-star-empty star1'></span>
      <%else%>
      <span class='glyphicon glyphicon-star star1'></span>
      <%end%>
      <%if c.evalu.to_i  < 5%>
      <span class='glyphicon glyphicon-star-empty star1'></span>
      <%else%>
      <span class='glyphicon glyphicon-star star1'></span>
      <%end%>
      </td>
      <td><%=c.created_at.strftime("%Y-%m-%d, %P %l:%M")%></td></tr>
<%end%>
<%end%>
    </tbody>
    </table>
<%= will_paginate @mycomments, renderer: BootstrapPagination::Rails %>
<%else%>
<h4>남긴 후기가 없습니다.</h4>
<%end%>

</div>
<%else%>
<h1> 로그인을 하세요 </h1>
<%end%>
</div>
